.container {
    height: calc(100vh - 10rem);
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header {
        display: none;
    }

    > div {
        padding: 1rem;
        
    } 

}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;

    .textWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        width: 280px;
        height: 100%;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);

        h1 {
            margin: 32px 0;
            text-align: center;
            color: var(--white);
        }
    
        p {
            text-align: left;
            font-size: 18px;
            margin-bottom: 2rem;
            color: var(--white);
            font-weight: 300;
            line-height: 22px;
        }
    }
    
    .linksWrapper {
        width: 280px;

        a {
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);

            backdrop-filter: blur(5px);
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        
            font-weight: 500;
            color: var(--white);
        
            margin-bottom: 0.5rem;
            border-radius: 15px;
            padding: 0.5rem 1rem;
            line-height: 18px;
            text-transform: uppercase;
        
            transition: 0.8s;

            .info {
                width: 125px;
                display: flex;
                align-items: center;
                justify-content: space-between; 
            }
                
            &:hover {
                filter: brightness(0.8);
                border: 1px solid var(--white);
            }
        }
    }
}

@media (max-width: 780px) {
    .container { 
        min-height: 100vh;
        margin-top: 3rem;

        header {
            padding: 16px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .avatar {
                border-radius: 50%;
                border: 2px solid var(--green);
            }

            > div {
                margin-left: 16px;
                
                h1 {
                    font-size: 18px;
                    color: var(--white);
                }

                span {
                    color: var(--green);
                    font-weight: 600;
                }
            }
        }

        .footer {
            width: 100%;

            display: flex;
            justify-content: center;
        }
    }
    
    .content {
        flex-direction: column;
    }

    .textWrapper {
        margin-bottom: 32px;
    }

    .linksWrapper {
        margin-bottom: 32px;

        a {
            .info {
                width: 95px !important;
            }
        }

    }  
}
